---
kind: ClusterConfiguration
apiVersion: kubeadm.k8s.io/v1beta1
apiServer:
  extraArgs:
    authorization-mode: Node,RBAC
  timeoutForControlPlane: 4m0s
certificatesDir: /etc/kubernetes/pki
clusterName: {{ cluster_name }}
controlPlaneEndpoint: ""
controllerManager: {}
dns:
  type: CoreDNS
etcd:
  local:
    dataDir: /var/lib/etcd
imageRepository: {{ image_repository }}
kubernetesVersion: {{ kubernetes_version }}
networking:
  dnsDomain: {{ dns_domain }}
  podSubnet: {{ pod_subnet }}
  serviceSubnet: {{ service_subnet }}
scheduler: {}
